body{
    font-family: sans-serif;
    padding: 90px 20px 0;
    
}
.header{
    background-color: deepskyblue;
    height: 12%;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    
}
.nav{
    display:flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    color: rgb;
}
.nav-link{
    color: white;
    text-decoration: none;
    
}
a.logo{
    font-size: 32px;
    font-weight: bold;
    padding: 0 -10px;
    line-height: 110px;
    color:white;
    
  
 
   
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style:none ;
    
   
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    witdh: max-content;
    
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 6px;
    
    
}

.Parrafo{
     font-size: 30px;
     font-family: fantasy;

    
}
.imagen-consultorio{
    
      width: 100%;     
      display: block;
      margin-lefth:40px; 
}
#tituloPrincipal{
    color:  midnightblue;
}
.Medicamento2{
     width: 100%;
            max-width: 500px;
            height: auto; 
            display: block; 
            margin: left;
        
}
.Medicamento3{
           width: 100%;
            max-width: 500px;
            height: auto; 
            display: block; 
           
        
            
}
.Medicamento1{
         width: 100%;
            max-width: 500px;
            height: auto; 
            display: block; 
           
        
}
.VideoAplausos{
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      margin-top: -80px;
}